<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <!-- ================== 5：外部邮件参数 ================== -->
  <!-- 系统错误自动发送邮件 -->
  <add key="ErrorToMail" value="false" />
  <!-- 接收错误信息的邮箱 -->
  <add key="RereceiveErrorMail" value="" />
  <!-- 发出邮箱的名称 -->
  <add key="MailName" value="18276743761@163.com" />
  <!-- 发出邮箱的地址 -->
  <add key="MailUserName" value="18276743761@163.com" />
  <!-- 发出邮箱的密码 -->
  <add key="MailPassword" value="WVIIUHMCZOGLKHMP" />
  <!-- 发出邮箱设置邮箱主机 -->
  <add key="MailHost" value="smtp.163.com" />
  
</appSettings>